* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.swal2-confirm,
.swal2-cancel {
    color: black !important;
}

.close-btn {
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 2;
}

.close-btn {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    background-color: #e1e7f4;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}

.close-icon {
    width: 30px;
    height: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 120px;
}

.dot-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 50px;
}

.dot-container:last-child {
    position: relative;
    margin-right: 0;
}

.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    position: relative;
    width: 100%;
}

.connecting-line {
    width: 50px;
    height: 5px;
    background-color: #93b5e9;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);

}

.connecting-line.completed {
    background-color: #93b5e9;
}

.dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background: #93b5e9;
    color: white;
    position: relative;
    z-index: 2;
}

.dot.active {
    width: 50px;
    height: 50px;
    background: #7490bb;
}

.dot.completed::after {
    content: '✓';
}

.dot.completed span {
    display: none;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    position: relative;
}


.bookmark-btn {
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translateX(-50%);
    margin-top: 20px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #e1e7f4 none;
}

.bookmark-icon {
    width: 40px;
    height: 40px;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bookmark-icon .filled {
    display: none;
}

.bookmark-btn.saved .bookmark-icon .outline {
    display: none;
}

.bookmark-icon .outline {
    display: block;
}

.bookmark-btn.saved .bookmark-icon {
    color: #3c5e86;
}

.bookmark-btn.saved .bookmark-icon .filled {
    display: block;
}

/* Page Styling */
.page,
.page-active {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 60px;
    text-align: left;
    line-height: 1.6;
    font-size: 18px;
    width: 100%;
}

.page {
    display: none;
}

.page-active {
    display: block;
}

.page h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

.page p,
.page-active p {
    margin: 15px 0;
}

.hmi-image,
.image {
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 8px;
}

.hmi-image {
    width: 100%;
    max-width: 400px;
}

.image {
    height: 100%;
    max-height: 200px;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    padding: 20px;
    background: whitesmoke;
    z-index: 100;
}

button {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#nextBtn {
    background: #6182b3;
    color: white;
}

#prevBtn {
    background: #E0E0E0;
    color: #333;
}